#contact {
    height: 100vh;
    width: 100vw;
    background-color: var(--c-white-to-black);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 500px;
}

#contact .text-box-contact {
    height: 70%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

#contact .social-links-box {
    height: 70%;
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

#contact .text-box-contact .subtitle {
    color: var(--c-primary);
    font-size: 6rem;
    font-weight: 600;
    line-height: .90;
    width: 100px;
    display: grid;
    place-items: center;
}

#contact .text-box-contact .social-links-box a {
    height: 50px;
    color: var(--c-primary);
}


#contact .text-box-contact .social-links-box a svg {
    height: 100%;
    width: 100%;
}

#contact #form-contact {
    height: 50%;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
}

#contact #form-contact h2 {
    color: var(--c-primary);
    font-size: 2rem;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -5px;
        left: 0;
        height: 3px;
        width: 110%;
        background-color: var(--color-1);
    }
}

#contact #form-contact label {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact #form-contact label p {
    color: var(--c-primary);
    font-weight: 600;
}

#contact #form-contact label input {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
    font-size: 1.3rem;
    color: var(--c-white-to-black);
    background-color: var(--c-primary);
    position: relative;
    
    &:focus {
        outline: none;
    }
}

#contact #form-contact .btn-box-form-contact {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#contact #form-contact .btn-box-form-contact button {
    height: 45px;
    min-width: 150px;
    width: fit-content;
    border-radius: 10px;
    border: none;
    background-color: var(--c-primary);
    color: var(--c-white-to-black);
    font-size: 1.25rem;
    font-weight: 400;
    cursor: pointer;
    padding: 0 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
