.hero_section {
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.data_container {
    width: 50%;
    height: 100%;
    display: grid;
    place-items: center;
}

.canvas_animation {
    height: 100%;
    width: 50%;   
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--c-primary);
    width: auto;
    height: 350px;

    & > .p_1 {
        font-size: 25rem;
        margin-bottom: -90px;
    }

    & > .p_2 {
        font-size: 6.5rem;
    }

    & > .p_3 {
        font-size: 3rem;
    }
}

@media (max-width: 32rem) {
    .hero_section {
        flex-direction: column;
    }

    .canvas_animation {
        height: 50%;
        width: 100%;   
    }

    .data_container {
        width: 100%;
        height: 50%;
        display: grid;
        place-items: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--c-primary);
        width: 100%;
        height: 350px;
    
        & > .p_1 {
            font-size: 13rem;
            margin-bottom: -40px;
        }
    
        & > .p_2 {
            font-size: 3.5rem;
        }
    
        & > .p_3 {
            font-size: 1.7rem;
        }
    }
}
