.workes_page {
    min-height: 100vh;
    background-color: var(--c-primary);
    padding: 100px 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 50px;

    & > h2 {
        font-size: 5rem;
        color: var(--c-white);
    }
    
    & > div {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 15px;

        & > div {
            width: 300px;
            height: 450px;
            border-radius: 10px;
            background-color: #fff;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            transition: all .3s;
    
            &:hover {
                transform: scale(1.05);
            }
    
            & > img {
                width: 100%;
                min-height: 200px;
                object-fit: cover;
            }
    
            & > div {
                width: 100%;
                padding: 20px;
    
                & .title {
                    width: 100%;
                    font-weight: 600;
                    margin-bottom: 15px;
                    color: var(--c-primary);
                }

                & > p {
                    color: var(--c-primary);  
                }
            }
    
            & > .btn_container {
                width: 100%;
                min-height: 60px;
                height: 60px;
                background-color: rgb(211, 211, 211);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 30px;
    
                & > a {
                    height: 30px;
                    width: 30px;
                    color: var(--c-primary);
    
                    & > svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.tags_container {
    display: flex;
    gap: 10px;
    
    & > .HTML {
        font-weight: 600;
        background-color: #f26227;
        padding: 5px;
        color: #fff;
    }

    & > .CSS {
        font-weight: 600;
        background-color: #224ee1;
        padding: 5px;
        color: #fff;
    }

    & > .React {
        font-weight: 600;
        background-color: #3bd5fc;
        padding: 5px;
        color: #fff;
    }

    & > .Javascript {
        font-weight: 600;
        background-color: #dfc922;
        padding: 5px;
        color: #fff;
    }

    & > .Typescript {
        font-weight: 600;
        background-color: #dfc922;
        padding: 5px;
        color: #fff;
    }

    & > .Node {
        font-weight: 600;
        background-color: #709d53;
        padding: 5px;
        color: #fff;
    }

    & > .Next {
        font-weight: 600;
        background-color: #0c0c0c;
        padding: 5px;
        color: #fff;
    }

    & > .Firebase {
        font-weight: 600;
        background-color: #f5c229;
        padding: 5px;
        color: #fff;
    }

    & > .Electron {
        font-weight: 600;
        background-color: #2f6c76;
        padding: 5px;
        color: #fff;
    }
}
