:root {
  --fs-title: 4.5rem;
  --w-max-width: 1100px;
}

/*---- COLORS WHITE -----*/
body[data-theme="t-light"][data-color="t-green"] {
  --c-primary: #599636;
  --c-white-to-black: #ffffff;
  --c-black-to-white: #000000;
  --c-gray-to-lightb: #edeced;
  --c-white: #ffffff;
  --c-black: #000000;
}

body[data-theme="t-light"][data-color="t-rose"] {
  --c-primary: #b367ac;
  --c-white-to-black: #ffffff;
  --c-black-to-white: #000000;
  --c-gray-to-lightb: #edeced;
  --c-white: #ffffff;
  --c-black: #000000;
}
/*---- FIM COLORS WHITE -----*/
/*---- COLORS BLACK -----*/
body[data-theme="t-dark"][data-color="t-green"] {
  --c-primary: #344d26;
  --c-white-to-black: #ffffff;
  --c-black-to-white: #000000;
  --c-gray-to-lightb: #edeced;
  --c-white: #ffffff;
  --c-black: #000000;
}

body[data-theme="t-dark"][data-color="t-rose"] {
  --c-primary: #b367ac;
  --c-white-to-black: #ffffff;
  --c-black-to-white: #000000;
  --c-gray-to-lightb: #edeced;
  --c-white: #ffffff;
  --c-black: #000000;
}
/*---- FIM COLORS BLACK -----*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

#canvas1 {
  height: 100%;
  width: 100%;
}

.init-hidden {
  transform: scale(50%);
  transition: transform 1s;
  opacity: 0;
}

.init-hidden-off {
  opacity: 1;
  transform: scale(100%);
  transition: transform .8s
}